PORT=3000
ADMIN_SUBDOMAIN=admin.localhost
MONGO_URI=mongodb://127.0.0.1:27017/ecommerce_db
SESSION_SECRET=super-secret-key

COMPANY_NAME=Dairy Farm
COMPANY_LOGO=
COMPANY_ADDRESS=Your Company Address
COMPANY_EMAIL=hello@example.com
COMPANY_PHONE=+254700000000
COMPANY_WEBSITE=https://example.com
COMPANY_WHATSAPP=+254700000000

EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

AT_API_KEY=
AT_USERNAME=
SMS_FROM=

TWILIO_SID=
TWILIO_AUTH_TOKEN=
WHATSAPP_FROM=
