<%- include("partials/authLayout") %>

<h2>Login</h2>

<form method="POST">
<input name="email" placeholder="Email">
<input type="password" name="password" placeholder="Password">
<button>Login</button>
</form>

<a href="/signup">Signup</a><br>
<a href="/forgot-password">Forgot Password?</a>

</div></body></html>