<%- include("partials/authLayout") %>

<h2>Reset Password</h2>

<form method="POST">
<input type="password" name="password" placeholder="New Password">
<button>Reset</button>
</form>

</div></body></html>